@using WebApi.Models

<label class="input-line">
    <input name="Cliente" type="text" class="form-input check-value" />
    <span class="placeholder">Cliente</span>
    <i class="form-icon icon-user2"></i>
</label>

<label class="input-line">
    <input name="Nombre" type="text" class="form-input check-value" />
    <span class="placeholder">Nombre</span>
    <i class="form-icon icon-newspaper"></i>
</label>

<label class="input-line">
    <textarea name="Descripcion" class="form-input check-value"></textarea>
    <span class="placeholder">Descripcion</span>
    <i class="form-icon icon-speech-bubble"></i>
</label>

<label class="input-line">
    <input name="Periodo" type="text" class="form-input check-value" />
    <span class="placeholder">Periodo</span>
    <i class="form-icon icon-clock"></i>
</label>

<label class="input-line">
    <input name="Deducible" type="text" class="form-input check-value" />
    <span class="placeholder">Deducible</span>
    <i class="form-icon icon-percent"></i>
</label>

<label class="input-line">
    <input name="Precio" type="text" class="form-input check-value" />
    <span class="placeholder">Precio</span>
    <i class="form-icon icon-coin-dollar"></i>
</label>

<label class="input-line">
    <select id="sltRiesgos" name="Riesgo" class="form-input check-value">
        @Html.GetRiesgos();
    </select>
    <span class="placeholder">Riesgo</span>
    <i class="form-icon icon-shield"></i>
</label>

<label class="input-line">
    <select id="sltCubrimientos" name="Cubrimiento" class="form-input check-value">
        @Html.GetCubrimientos();
    </select>
    <span class="placeholder">Cubrimiento</span>
    <i class="form-icon icon-fire2"></i>
</label>

<label class="input-line">
    <input name="Inicio_Vigencia" type="date" class="form-input check-value" />
    @*<input name="Inicio_Vigencia" type="text" class="form-input check-value"/>*@
    <span class="placeholder">Inicio Vigencia</span>
    <i class="form-icon icon-calendar"></i>
</label>

