@{
    ViewBag.Title = "Polizas";
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/screen.css" rel="stylesheet" />
    <link href="~/CSS/show.css" rel="stylesheet" />
    <link href="~/CSS/form_validation.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <style>
        #upd-btn-container {
            visibility: hidden;
        }
    </style>

</head>
<body>
    <!-- Content Wrapper -->
    <div class="content-wrapper">

        <!-- Contact Area -->
        <section class="section section-contact">
                <div class="row row-fit">

                    <div class="col-md-12 poliza-form">
                        <div class="contact-area-block">
                            <h2 class="section-title">Poliza</h2>

                            <form id="frmPoliza" class="contact-form">
                                @{Html.RenderPartial("~/Views/Shared/PolizaFormContent.cshtml");}
                                <div id="upd-btn-container">
                                    <button type="submit" class="submit">Guardar</button>
                                    <button id="btn-cancelar" type="button" class="submit">Cancelar</button>
                                </div>
                            </form>

                            <div class="contact-blocks">
                                <div class="row row-fit">
                                    <div class="col-sm-8">
                                        <div class="contact-block">
                                            <a href="/Polizas/">
                                                <button type="button" class="form-cta">Volver</button>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-sm-8">
                                        <div class="contact-block">
                                            <button id="btn-editar" type="button" class="form-cta">Editar</button>
                                        </div>
                                    </div>

                                    <div class="col-sm-8">
                                        <div class="contact-block">
                                            <button type="button" class="form-cta">Borrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
</body>
</html>
<script>
    var idPoliza = @ViewContext.RouteData.Values["id"];
</script>
<script src="~/Scripts/poliza_form_validation.js"></script>
<script src="~/Scripts/poliza_form.js"></script>
